<div class= "container">
  <h2>Hello from a specfic item</h2>

<div class ="img">
  <src><%=@item.image_url%></src>
</div>

<p>Name:<%= link_to @item.name, "/item/#{@item.id}" %></p>
<p>Cost:<%=@item.cost%></p>
<p>Description:<%=@item.description%></p>
<button type="button" class="btn btn-success" href="purchase_path">Buy Now</button>

<!-- link_to to purchase form -->
</div>
<!-- t.string "name"
t.string "description"
t.integer "cost"
t.integer "category_id"
t.datetime "created_at", null: false
t.datetime "updated_at", null: false
t.string "image_url" -->
